*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.059);
    padding: 20px;
    h1{
        font-size: 1.8em;
    }

}
main{
    position: relative;
    #secao1{
        height: 250px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.4fr 1fr;
        gap: 10px;
        #saldo{
            background-image: linear-gradient(90deg,  hsl(213, 79%, 50%),  rgb(25, 174, 238));
            grid-column: 1 / 3;
            box-shadow: 0px 0px 10px rgba(5, 19, 53, 0.571);
            margin: 15px 40px;
            border-radius: 14px;
            display: flex;
            align-items: center;
            i{
                font-size: 4.5em;
                color: rgba(255, 255, 255, 0.768);
            }
            div{
                margin: 20px;
                color: aliceblue;
                p{
                    font-size: 1.5em;
                }
                h2{
                    font-size: 2.3em;
                }
            }
        }
        #entradas{
            background-color: rgba(105, 175, 162, 0.234);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.176);
            margin: 0px 0px 0px 30px;
            border-radius: 14px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            i{
                font-size: 2.6em;
                color: rgb(70, 136, 57);
                margin-top: px;
            }
            div{
                margin: 10px;
                color: rgb(0, 0, 0);
                p{
                    font-size: 1.3em;
                }
                h2{
                    font-size: 1.5em;
                }
            }
        }
        #despesas{
            background-color: rgba(201, 123, 123, 0.168);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.152);
            margin: 0px 30px 0px 0px;
            border-radius: 14px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            i{
                font-size: 2.6em;
                color: rgb(252, 6, 6);
                margin-top: 13px;
            }
            div{
                
                margin: 10px;
                color: rgb(14, 14, 14);
                p{
                    font-size: 1.3em;
                }
                h2{
                    font-size: 1.5em;
                }
            }
        }
    }
    #secao2{

        background-color: rgb(246, 246, 246);
        height: 250px;
        margin: 15px;
        border-radius: 25px;
        margin-top: 25px;
        padding: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.185);
        #grafico{
            margin: auto;
            #alimentação{
                display: flex;
                font-size: 1.6em;
                width: 100%;
                justify-content: space-around;
                margin-bottom: 10px;
                .valor{
                    flex: 0 0 180px;
                    display: flex;
                    justify-content: flex-end;
                    
                }
                p{
                    flex: 0 0 170px;
                }
                div{
                    width: 400px;
                    #tamanhoalimentação{
                    width: 100%;
                    background-color: rgb(10, 10, 10);
                    height: 30px;
                    border-radius: 10px;
                    }
                }
                
            }
            #transporte{
                display: flex;
                display: flex;
                font-size: 1.6em;
                 width: 100%;
                justify-content: space-around;
                margin-bottom: 10px;
                .valor{
                    flex: 0 0 180px;
                    display: flex;
                    justify-content: flex-end;
                }
                p{
                    flex: 0 0 170px;
                }
                div{
                    width: 400px;
                    #tamanhotransporte{
                    width: 50%;
                    background-color: rgb(8, 8, 8);
                    height: 30px;
                    border-radius: 10px;
                    }
                }
                
            }
            #lazer{
                display: flex;
                display: flex;
                font-size: 1.6em;
                 width: 100%;
                justify-content: space-around;
                .valor{
                    flex: 0 0 180px;
                    display: flex;
                    justify-content: flex-end;
                }
                p{
                    flex: 0 0 170px;
                }
                div{
                    width: 400px;
                    #tamanholazer{
                    width: 16.6%;
                    background-color: rgb(8, 8, 8);
                    height: 30px;
                    border-radius: 10px;
                    }
                }
                
            }
        }
        button{
            width: 330px;
            display: flex;
            margin: 30px auto;
            padding:20px;
            justify-content: space-around;
            border-radius: 30px;
            border: none;
            background-color: #1b74e2;
            color: aliceblue;
            transition-duration: 0.4s;
            p{
                font-size: 1.8em;
            }
            i{
                font-size: 2em;
            }
        }
        button:hover{
            background-color: #08213f;
            color: rgb(232, 231, 231);
        }
    }
    #secao3{
        display: flex;
        justify-content: center;
        #btnsfiltros{
            background-color: aliceblue;
            border-radius: 14px;
            display: flex;
        }
        button{
            padding: 10px;
            border-radius: 30px;
            border: none;
            background-color: #1b74e2;
            color: aliceblue;
            width: 30vw;
            height: 65px;
            font-size: 1.6em;
            transition-duration: 0.4s;
            margin: 4px;

        }
        button:hover{
            background-color: #08213f;
            color: rgb(232, 231, 231);
        }
    }
    #secao4{
        display: flex;
        flex-direction: column;
        align-items: center;
        .coisas{
            display: flex;
            background-color: rgb(246, 246, 246);
            height: 90px;
            border-radius: 20px;
            width: 90%;
            margin: 15px 9px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.185);
            align-items: flex-start;
            padding-top: 10px;
            div{
                display: flex;
                flex: 1 1 200%;
                align-items: center;
                justify-content: flex-start;
                i{
                    font-size: 2em;
                    flex: 1 1 2fr;
                    padding: 20px;
                    border-radius: 30px;
                }
                .fa-arrow-up-long{
                    color: rgb(31, 157, 102);
                    background-color: #0fffc7a7;
                    
                }
                .fa-arrow-down-long{
                    color: rgb(228, 23, 50);
                    background-color: #ff0f0f6c;
                    
                }
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-left: 10px;
                    margin-top: 3px;
                    flex: 1 1 2fr;
                    #descrição{
                        font-size: 1.3em;
                        font-weight: bold;
                    }
                    #descrição {
                        max-width: 200px;
                        overflow: hidden;
                        text-overflow: ellipsis; 
                        white-space: nowrap;
                    }
                    
                }
            
            }
            #valorentrada, #valorsaida{
                flex: 1 1 100%;
                font-size: 2em;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                margin-right: 20px;
            }
        }
        

    }





}
article{
    background-color: #fefefe;
    border-radius: 20px;
    position: absolute;
    z-index: 999;
    padding: 30px;
    display: flex;
    height: 400px;
    width: 400px;
    flex-direction: column;
    #tipscate{
        display: flex;
        margin-bottom: 23px;
        label{
            font-size: 1.5em;
            font-weight:bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        select{
            height: 30px;
            width: 200px;
        }
        
    }
    #disc{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        label{
            font-size: 1.5em;
            font-weight:bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        input{
            height: 30px;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.275);
            text-align: center;
            font-size: 1.5em;
        }
    }
    #valornova{
        display: flex;
        flex-direction: column;
        label{
            font-size: 1.5em;
            font-weight:bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        input{
            height: 30px;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.275);
            text-align: center;
            font-size: 1.3em;
        }
    }
    h1{
        margin-bottom: 40px;
    }
    #buttons{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        button{
            padding: 10px;
            width:190px;
            border: none;
            font-size: 1.6em;
            border-radius: 10px;
        }
        
        #add{
            background-color: #1b74e2;
            color: aliceblue;
            margin-right: 10px;
            
        }
        #add:hover{
            background-color: #08213f;
            color: rgb(232, 231, 231);
        }
        #can:hover{
            background-color: #9f9f9f;
        }
    }
}
.fundo-escuro {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 998; 
 
  display: none;
  justify-content: center;
  align-items: center;
  
}
.fundo-escuro.popup{
    display: flex;
}